.todo-list li .icon-pause,
.todo-list li .icon-play {
    position: relative;
	font-size: 18px;
	width: 18px;
	height: 18px;
    margin-right: 10px;
	box-sizing: border-box;
}

.todo-list li .icon-play {
	font-size: 15px;
}

.todo-list li .icon-pause:after {
	content: '⏸';
}

.todo-list li .icon-play:after {
	content: '▶';
}
